/* NavBar.css */

/* Navbar */
nav {
  background-color: #34495e; /* Change background color */
  color: #fff;
  padding: 10px 0; /* Add padding */
}

/* Navbar links */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block; /* Change display to inline-block for proper alignment */
  margin-right: 15px; /* Increase margin-right for spacing */
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold; /* Add font weight */
  padding: 8px 12px; /* Add padding */
  border-radius: 5px; /* Add border-radius for rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Add transition for smoother hover effect */
}

a:hover {
  background-color: #2c3e50; /* Change background color on hover */
  color: #ff0; /* Change text color on hover */
}
