/* NotFound.css */

/* Container styles */
.container {
    text-align: center;
    margin-top: 50px;
  }
  
  /* Heading styles */
  h1 {
    font-size: 48px;
    color: #e74c3c;
    margin-bottom: 20px;
  }
  
  /* Paragraph styles */
  p {
    font-size
  